
body {
    font-family: Roboto;
    font-weight: 300;
    color: white;
}

.nav_rodapé {
    background-color: #7ea3c9;
    font-weight: 800;
}

.quem-somos {
    background-color: rgb(117, 117, 182);
}

.margin {
    padding-top: 20px;
    padding-bottom: 40px;
}

.parceiros {
    background-color: teal;
}

.serviços {
    background-color: tomato;
}

